/* Wrapper container for movie details */
.movieDetails {
    display: flex;
    flex-direction: row;
    /* Arrange content side by side in columns */
    gap: 20px;
    /* Add some space between the columns */
    padding: 20px;
}



/* Movie content styling (first column) */
.movieContent {
    color: aliceblue;
    flex: 1;
    /* This will allow it to take equal space with the trailer column */
    max-width: 50%;
    /* Limit it to half the width */
}

/* Movie trailer container (second column) */
.movieTrailer {
    flex: 1;
    /* Same as movieContent to keep both columns equal in width */
    max-width: 50%;
    /* Limit it to half the width */
}

.hr {
    width: 100%;
    /* Makes the line take the full width of its container */
    border: none;
    /* Remove default border styles */
    height: 2px;
    /* Set thickness of the line */
    background-color: #f5efef;
    /* Set the color of the line (black in this case) */
    margin-top: 10px;
    /* Add some space between the heading and the line */
}

.videoContainer {
    width: 100%;
}

.movieBackdrop {
    width: 100%;
    /* Ensure the backdrop image fits within the column */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 8px;
    /* Optional: Add rounded corners */
}

.group {
    color: rgb(247, 241, 234)
}

.movieContainer {
    display: flex;
    overflow-x: auto;
    /* Enable horizontal scroll */
    overflow-y: hidden;
    /* Hide vertical scroll */
    padding: 10px;
    gap: 20px;
    scroll-snap-type: x mandatory;
    /* Smooth snapping while scrolling */
    padding-bottom: 20px;
    /* Add some padding to prevent overlap with the scrollbar */
}

.movieItem {
    flex: 0 0 auto;
    /* Prevent items from shrinking */
    width: 200px;
    /* Define a consistent width */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    scroll-snap-align: start;
    /* Ensure each item snaps at the start of the container */
}

/* Scaling effect on hover */
.movieItem:hover {
    transform: scale(1.05);
}

/* Common styles for all movie images */
.movieImage {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}


/* Horizontal scrollbar visible */
.movieContainer::-webkit-scrollbar {
    height: 8px;
    /* Make scrollbar a bit larger */
}

.movieContainer::-webkit-scrollbar-thumb {
    background-color: rgba(51, 49, 49, 0.5);
    /* Darker thumb for the scrollbar */
    border-radius: 10px;
    cursor: pointer;

}

.movieContainer::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Light background for scrollbar track */
}